body {
    background-color: $color-darkgray;
    font: 14px $font-stack;
}


a {
    color: #00B7FF;
}

.game-info-container {
    h1 {
        font: 48px $font-paragraph-main;
    }
    
    h2 {
        font: 24px $font-title-main;
    }
    
    h3 {
        font: 18px $font-title-marker;
    }
    
    p {
        font: 18px $font-paragraph-main;
    }

}

.help-text-dark {
    font: 20px $font-paragraph-main;
    color: $color-black;
    vertical-align: middle;
    line-height: inherit !important;
    margin-bottom: 2rem;
}

.help-text-light {
    font: 20px $font-paragraph-main;
    color: $color-offwhite;
    vertical-align: middle;
    line-height: inherit !important;
    margin-bottom: 2rem;
}

.circle-icon-dark {
    background: $color-darkgray;
    color: $color-offwhite;
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 6.75rem;
    padding: 30px;
    margin: 10px;
    display:inline-block;
    i:first-of-type {
        // line-height: inherit !important;
        color: $color-offwhite;
    }
    i[class^="fa-"]{
        line-height: inherit;
    }
    .small &{
        width: 6rem;
        height: 6rem;
        line-height: 4rem;
    }
}

.circle-icon-light {
    background: $color-offwhite;
    color: $color-darkgray;
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 6.75rem;
    padding: 2em;
    margin: 10px;
    display:inline-block;
    i:first-of-type {
        // line-height: inherit !important;
        color: $color-darkgray;
    }
    i[class^="fa-"]{
        line-height: inherit;
    }
    &.small {
        width: 4.2rem;
        height: 4.2rem;
        line-height: 3.8rem;
        padding: 1.1em;
    }
}

.angled-jumbotron {
    color: #fff;
    background-color: $color-brightblue2;
    font-family: $font-title-main;
    text-align: center;
    padding: 10% 0;
    @include angle-edge($angle: 2, $angle-position-y: 'bottom', $angle-position-x: 'left');
}

img.inline-logo {
    display: inline-block;
    width: 18rem;
}

.slide_section {
    h1 {
        font: 36px $font-title-marker;
    }
    #titlebar-rules {
        padding: 3% 0 1% 0;
        text-align: center;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
        color: $color-offwhite;
        background-color: $color-darkblue;
        top: -1px;
    }
    #titlebar-tips {
        padding: 3% 0 1% 0;
        text-align: center;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'right');
        color: $color-offwhite;
        background-color: $color-orange;
        top: -1px;
    }
    #titlebar-contact {
        padding: 3% 0 1% 0;
        text-align: center;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
        color: $color-darkgray;
        background-color: $color-brightblue;
        top: -1px;
    }
    #titlebar-acknowledgements {
        padding: 3% 0 1% 0;
        text-align: center;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'right');
        color: $color-darkgray;
        background-color: $color-darkblue;
        top: -1px;
    }
    #section-tips {
        background-color: $color-darkgray;
    }
    
    #section-acknowledgements {
        color: $color-darkgray;
    }
    &.slide-box-gray {
        text-align: center;
        padding: 10% 0;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
        color: $color-offwhite;
        background-color: $color-darkgray;
    }
}

.container-light {
    background-color: $color-offwhite;
    @include angle-edge($angle: 2, $angle-position-y: 'both', $angle-position-x: 'right');
    padding: 0 0 5% 0;
}

.container-dark {
    background-color: $color-darkgray;
    @include angle-edge($angle: 2, $angle-position-y: 'both', $angle-position-x: 'left');
    padding: 0 0 5% 0;
}

.game_info_container {
    // color: #fff;
    // background-color: $color-offwhite;
    text-align: center;
    // padding: 10% 0;
}

.parallax-window {
    min-height: 20rem;
    background: transparent;
    margin-top: -8rem;
    margin-bottom: -8rem;
    &.small {
        min-height: 12rem;
    }
}

img.navbar-logo {
    width: 60px;
}

.page-footer {
    font: 12px $font-paragraph-main;
    h3 {
        font: 16px $font-title-main;
    }
    p {
        font: 12px $font-paragraph-main;
    }
    color: $color-offwhite;
    background-color: $color-gray-80;
    .footer-copyright {
        background-color: $color-darkgray;
    }
    margin-top: 1.5rem;
}

.col-center {
    float: none;
    margin: 0 auto;
}

 .form-inline {
    margin: 0 -3px;
}

.form-inline .form-group label,
.form-inline .form-group input,
.form-inline .form-group select {
    margin: 0 0.3rem;
}

i.checkmark-glyph {
    // background: $color-darkgray;
    &.success {
        color: #79A70A;
    }
    &.error {
        color: $color-brightred;
    }
    &.neutral {
        color: $color-gray-80;
    }
}