$font-stack: "Lucida Grande", Helvetica, Arial, sans-serif;

$color-darkgray: #1E252D; //These 4 are from Roundup branding
$color-darkblue: #3D6EB5;
$color-brightblue2: #52BFDF;
$color-orange: #C56D34;
$color-brightred: #F20986; //These 3 are from the sticker, they're bright so best used as accents
$color-brightblue: #00D9FC;
$color-brightyellow: #FBE202;
$color-offwhite: #E6ECF4;
$color-white: #FFF;
$color-black: #000;

$color-gray-20: #CCC;
$color-gray-40: #999;
$color-gray-60: #666;
$color-gray-80: #333;
$color-gray-90: #161616;
   
$font-title-main: 'Rubik', sans-serif;
$font-title-marker: 'Permanent Marker', cursive;
$font-paragraph-main: 'Tajawal', sans-serif;  

$fa-font-path:        "../webfonts";