body {
    // padding: 50px;
    font: 14px $font-stack;
    background-color: $color-darkgray;
}

a {
    color: #00B7FF;
}

h1 {
    font: 48px $font-title-marker;
}

h2 {
    font: 24px $font-title-marker;
}

h3 {
    font: 18px $font-title-marker;
}

p {
    font: 18px $font-paragraph-main;
}

.help-text-dark {
    font: 20px $font-paragraph-main;
    color: $color-black;
    vertical-align: middle;
    line-height: inherit !important;
}

.help-text-light {
    font: 20px $font-paragraph-main;
    color: $color-offwhite;
    vertical-align: middle;
    line-height: inherit !important;
}

.circle-icon-dark {
    background: $color-darkgray;
    color: $color-offwhite;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
    margin: 10px;
    display:inline-block;
    i:first-of-type {
        // line-height: inherit !important;
        color: $color-offwhite;
    }
}

.circle-icon-light {
    background: $color-offwhite;
    color: $color-darkgray;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
    margin: 10px;
    display:inline-block;
    i:first-of-type {
        // line-height: inherit !important;
        color: $color-darkgray;
    }
}

.angled-jumbotron {
    color: #fff;
    background-color: $color-brightblue2;
    font-family: $font-title-marker;
    text-align: center;
    padding: 10% 0;
    @include angle-edge($angle: 2, $angle-position-y: 'bottom', $angle-position-x: 'right');
}

.slide_section {
    #titlebar-rules {
        padding: 3% 0 1% 0;
        text-align: center;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
        color: $color-offwhite;
        background-color: $color-brightred;
    }
    #titlebar-tips {
        padding: 3% 0 1% 0;
        text-align: center;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
        color: $color-offwhite;
        background-color: $color-orange;
    }
    #section-tips {
        background-color: $color-darkgray;

    }
    &.slide-box-gray {
        text-align: center;
        padding: 10% 0;
        @include angle-edge($angle: 2, $angle-position-y: 'top', $angle-position-x: 'left');
        color: $color-offwhite;
        background-color: $color-darkgray;
    }
}

.container-dark {
    background-color: $color-darkgray;
    @include angle-edge($angle: 2, $angle-position-y: 'both', $angle-position-x: 'left');
    padding: 0 0 5% 0;
}

.game_info_container {
    color: #fff;
    background-color: $color-offwhite;
    text-align: center;
    // padding: 10% 0;

    .slide_section:nth-child(1) {
        @include parallax(.3);
        z-index: 100;
    }
    .slide_section:nth-child(2) {
        @include parallax(.1);
        // padding: 300px;
        // top: -230px;
    }
    .slide_section:nth-child(3) {
        @include parallax(.3);
        // padding: 300px;
        // top: 200px;
        // z-index: 50;
    }
    .slide_section:nth-child(4) {
        @include parallax(.3);
        top: -500px;
        z-index: -1;
    }
}

.blog_header {
    height: 10rem;
    color: $color-offwhite;
}

.blog_card {
    margin-top: 2rem;
    .card-img-top {
        width: 100%;
        height: 7vw;
        object-fit: cover;
    }

    .card-title {
        font: 22px $font-title-main;
    }  
    .card-subtitle {
        font: 16px $font-paragraph-main;
        color: $color-gray-60;
    }
    .card-metadata {
        font: 13px $font-paragraph-main;
        color: $color-gray-40;
        a {
            font: 15px $font-paragraph-main;
        }
    }

    .card-text {
        font: 15px $font-paragraph-main;
        color: $color-gray-80;
    }
}