@import "mixins/angled-edges.scss";
@import "mixins/parallax.scss";
@include parallax-init;

@import "mixins/fontawesome/fontawesome.scss";
@import "mixins/fontawesome/solid.scss";
@import "mixins/fontawesome/brands.scss";

@import "_global.scss";
@import "_site.scss";
