extends layout

include mixins/blog_card.pug

block content
  .container
    .row.align-items-center
      .col-md-6.col-center.text-center.align-middle
        .blog_header.align-middle
          h1 Bursting at the Schemes
          h2 A blog about humanity, culture, and death lasers.
  nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.pl-12
    .navbar-brand
      img.navbar-logo(src="img/gun_logo.png")
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar-content", aria-controls="navbar-content", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
        i.fas.fa-bars
    .collapse.navbar-collapse#navbar-content
      ul.navbar-nav.mr-auto
        li.nav-item
          a#nav-link-home.nav-link.active(href="/") Home
        li.nav-item
          a#nav-link-about.nav-link(href="/about") About
        li.nav-item
          a#nav-link-laser.nav-link(href="#") Death Laser Management
  .container
    each blog in blog_posts
      .row.align-items-center 
        .col-md-9.col-center
          +blog_card(
            blog.title,
            blog.subtitle,
            blog.imagePath, 
            blog.dateString, 
            blog.timeString, 
            blog.author, 
            blog.teaserText,
            blog.isNew
            )

  footer.page-footer.blog-style
    .container-fluid.text-center.text-md-left
      .row
        .col-md-4.mt-md-0.mt-3
          h3 About
        .col-md-4.mt-md-0.mt-3
          h3 Links
    .footer-copyright.text-center.py-3 © 2019 Copyright BBG Enterprises
