extends layout_colorful

block content
    .game_info_container
        .angled-jumbotron
            h1 
                img(src="img/ADCLogo.svg", alt="Alarm.com").inline-logo
                |  RoundUP Hunt 2019
            h2#countdownTimer 00:00:00
        //- .parallax-container(data-parallax="scroll", data-image-src="./img/puppy1.jpg", data-bleed="20")
        .slide_section#section-rules.container-dark
            #titlebar-rules
                h1 Rules
            .container
                .row.align-items-center.justify-content-center.mt-3
                    .col-sm-2
                        .circle-icon-light
                            i.fas.fa-search.fa-4x
                    .col-sm-7
                        p.help-text-light Solve the challenges to unlock passwords
                .row.align-items-center
                    .col-sm-1.offset-sm-1.order-sm-last
                        .circle-icon-light
                            i.fas.fa-stopwatch.fa-4x
                    .col-sm-7
                        p.help-text-light Challenges will be revealed here at predetermined times throughout the Roundup (beginning Thursday evening, ending Saturday evening)

                .row.align-items-center
                    .col-sm-1.offset-sm-1
                        .circle-icon-light
                            i.fas.fa-handshake.fa-4x
                    .col-sm-7
                        p.help-text-light Some of the challenges may require exploring the surrounding area and collaborating with fellow Roundup attendees!
                        .row.align-items-center
                    .col-sm-1.offset-sm-1.order-sm-last
                        .circle-icon-light
                            i.fas.fa-mobile-alt.fa-4x
                    .col-sm-7
                        p.help-text-light Mobile phone use is allowed (and in some cases required)
        .slide_section#section-tips.container-light
            #titlebar-tips
                h1 Hints, Tips, and Tricks
            .container
                .row.align-items-center.mt-3
                    .col-sm-1.offset-sm-1.order-sm-last
                        .circle-icon-dark
                            i.fas.fa-lightbulb.fa-4x
                    .col-sm-7
                        p.help-text-dark In urna nisi, tempor vitae nulla efficitur, imperdiet ornare nisl. Nam lacus est, luctus at rhoncus non, tristique vel lectus. Pellentesque dictum purus et odio. 

                .row.align-items-center
                    .col.offset-sm-1
                        .circle-icon-dark
                            i.fas.fa-map.fa-4x
                    .col-sm-7
                        p.help-text-dark Donec vitae felis neque. Sed tristique lectus quis purus sagittis rutrum. Cras eget vulputate urna. 
                .row.align-items-center
                    .col-sm-1.offset-sm-1.order-sm-last
                        .circle-icon-dark
                            i.fas.fa-question.fa-4x
                    .col-sm-7
                        p.help-text-dark Quisque congue scelerisque semper. Morbi tellus ante, viverra luctus aliquet ac, commodo ac nisi.
        .slide_section#section-contact.container-dark
            #titlebar-contact
                h1 Contact Us
            .container
                .row.align-items-center.justify-content-center.mt-3
                    .col-sm-2
                        .circle-icon-light.small
                            i.fas.fa-paper-plane.fa-3x
                    .col-sm-7
                        p.help-text-light RoundUPHunt@alarm.com
                .row.align-items-center
                    .col-sm-1.offset-sm-1.order-sm-last
                        .circle-icon-light.small
                            i.fab.fa-twitter.fa-3x
                    .col-sm-7
                        p.help-text-light @rounduphunt

                .row.align-items-center
                    .col-sm-1.offset-sm-1
                        .circle-icon-light.small
                            i.fab.fa-instagram.fa-3x
                    .col-sm-7
                        p.help-text-light @rounduphunt
                        .row.align-items-center
                    .col-sm-1.offset-sm-1.order-sm-last
                        .circle-icon-light.small
                            i.fas.fa-users.fa-3x
                    .col-sm-7
                        p.help-text-light @rounduphunt
            
        .slide_section
            h1 One
        .slide_section.slide-box-gray
            h1 Two