extends layout

block content
    .game_info_container
        .angled-jumbotron.slide_section
            h1 Alarm.com RoundUP Hunt 2019
            h1#countdownTimer 00:00:00
        .slide_section#section-rules.container-dark
            #titlebar-rules
                h1 Rules
            .container
                .row.align-items-center
                    .col-1
                    .col
                        .circle-icon-light
                            i.fas.fa-search.fa-4x
                    .col-7
                        p.help-text-light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada tempus auctor. Pellentesque gravida in.
                    .col-1
                .row.align-items-center
                    .col-1
                    .col-7
                        p.help-text-light Aenean dapibus non dui vitae tincidunt. Aliquam feugiat mauris eu ornare tincidunt. Nam at ex arcu. Nulla et. 
                    .col
                        .circle-icon-light
                            i.fas.fa-map-marker-alt.fa-4x
                    .col-1
                .row.align-items-center
                    .col-1
                    .col
                        .circle-icon-light
                            i.fas.fa-heart.fa-4x
                    .col-7
                        p.help-text-light Donec lacinia porta nibh at elementum. Quisque leo massa, tempor quis elementum eu, pharetra et ipsum. Nulla at dui sed. 
                    .col-1
        .slide_section#section-tips
            #titlebar-tips
                h1 Hints, Tips, and Tricks
            .container
                .row.align-items-center
                    .col-1
                    .col-7
                        p.help-text-dark In urna nisi, tempor vitae nulla efficitur, imperdiet ornare nisl. Nam lacus est, luctus at rhoncus non, tristique vel lectus. Pellentesque dictum purus et odio. 
                    .col
                        .circle-icon-dark
                            i.fas.fa-lightbulb.fa-4x
                    .col-1
                .row.align-items-center
                    .col-1
                    .col
                        .circle-icon-dark
                            i.fas.fa-map.fa-4x
                    .col-7
                        p.help-text-dark Donec vitae felis neque. Sed tristique lectus quis purus sagittis rutrum. Cras eget vulputate urna. 
                    .col-1
                .row.align-items-center
                    .col-1
                    .col-7
                        p.help-text-dark Quisque congue scelerisque semper. Morbi tellus ante, viverra luctus aliquet ac, commodo ac nisi.
                    .col
                        .circle-icon-dark
                            i.fas.fa-question.fa-4x
                    .col-1
            
        .slide_section
            h1 One
        .slide_section.slide-box-gray
            h1 Two

    h3 Countdown Timer
    h3 About the RoundUP Hunt
    h3 Hints, Tips, and Tricks