extends layout

block content
    .game_info_container
        .angled-jumbotron.slide_section
            h1 Alarm.com RoundUP Hunt 2019
            h1#countdownTimer 00:00:00
        .slide_section.title-red
            h1 Rules
        .slide_section
            h1 One
        .slide_section.slide-box-gray
            h1 Two

    h3 Countdown Timer
    h3 About the RoundUP Hunt
    h3 Hints, Tips, and Tricks