extends layout_colorful

block content
    .game_info_container
        .angled-jumbotron
            h1 
                img(src="img/ADCLogo.svg", alt="Alarm.com").inline-logo
                |  RoundUP Hunt 2019
            h3#countdownTimer The game will begin at 2:30pm!
        //- .parallax-container(data-parallax="scroll", data-image-src="./img/puppy1.jpg", data-bleed="20")
        .parallax-window(data-parallax="scroll", data-image-src="/img/space7.jpg", data-position="top", data-bleed="10")
        .slide_section#section-rules.container-dark
            #titlebar-rules
                h1 Rules
            .container
                .row.align-items-center.mt-3
                    .col-sm-4.offset-sm-1
                        .circle-icon-light
                            i.fas.fa-search.fa-4x
                    .col-sm-6.mt-2
                        p.help-text-light Solve the challenges to unlock passwords
                .row.align-items-center.mt-3
                    .col-sm-4.offset-sm-1.order-sm-last
                        .circle-icon-light
                            i.fas.fa-stopwatch.fa-4x
                    .col-sm-6
                        p.help-text-light Challenges will be revealed here at predetermined times throughout the Roundup (beginning Friday morning, ending Saturday evening)

                .row.align-items-center.mt-3
                    .col-sm-4.offset-sm-1
                        .circle-icon-light
                            i.fas.fa-handshake.fa-4x
                    .col-sm-6.mt-2
                        p.help-text-light Some of the challenges may require exploring the surrounding area and collaborating with fellow Roundup attendees!
                
                .row.align-items-center.mt-3
                    .col-sm-4.offset-sm-1.order-sm-last
                        .circle-icon-light
                            i.fas.fa-mobile-alt.fa-4x
                    .col-sm-6.mt-2
                        p.help-text-light Mobile phone use is allowed (and in some cases required)
        
        .parallax-window(data-parallax="scroll", data-image-src="/img/space6.jpg", data-position="top", data-bleed="10")
        .slide_section#section-tips.container-light
            #titlebar-tips
                h1 Hints, Tips, and Tricks
            .container
                .row.align-items-center.mt-3
                    .col-sm-4.offset-sm-1.order-sm-last
                        .circle-icon-dark
                            i.fas.fa-lightbulb.fa-4x
                    .col-sm-6.mt-2
                        p.help-text-dark In urna nisi, tempor vitae nulla efficitur, imperdiet ornare nisl. Nam lacus est, luctus at rhoncus non, tristique vel lectus. Pellentesque dictum purus et odio. 

                .row.align-items-center.mt-3
                    .col-sm-4.offset-sm-1
                        .circle-icon-dark
                            i.fas.fa-map.fa-4x
                    .col-sm-6.mt-2
                        p.help-text-dark Donec vitae felis neque. Sed tristique lectus quis purus sagittis rutrum. Cras eget vulputate urna. 
                .row.align-items-center.mt-2
                    .col-sm-4.offset-sm-1.order-sm-last
                        .circle-icon-dark
                            i.fas.fa-question.fa-4x
                    .col-sm-6.mt-2
                        p.help-text-dark Quisque congue scelerisque semper. Morbi tellus ante, viverra luctus aliquet ac, commodo ac nisi.
        
        .parallax-window(data-parallax="scroll", data-image-src="/img/space5.jpg", data-position="top", data-bleed="10")
        .slide_section#section-contact.container-dark
            #titlebar-contact
                h1 Contact Us
            .container
                .row.align-items-center.mt-3
                    .col-sm-2.offset-sm-2
                        .circle-icon-light.small
                            i.fas.fa-paper-plane.fa-3x
                    .col-sm-6.mt-2
                        p.help-text-light RoundUPHunt@alarm.com
                .row.align-items-center
                    .col-sm-2.order-sm-last
                        .circle-icon-light.small
                            i.fab.fa-twitter.fa-3x
                    .col-sm-6.mt-2.offset-sm-2
                        p.justify-right.help-text-light @rounduphunt

                .row.align-items-center
                    .col-sm-2.offset-sm-2
                        .circle-icon-light.small
                            i.fab.fa-instagram.fa-3x
                    .col-sm-6.mt-2
                        p.help-text-light @rounduphunt

                .row.align-items-center
                    .col-sm-2.order-sm-last
                        .circle-icon-light.small
                            i.fas.fa-users.fa-3x
                    .col-sm-6.offset-sm-2.mt-2
                        p.help-text-light @rounduphunt
        
        .parallax-window(data-parallax="scroll", data-image-src="/img/space7.jpg", data-position="top", data-bleed="10")
        .slide_section#section-acknowledgements.container-light
            #titlebar-acknowledgements
                h1 Acknowledgements
            .container#section-acknowledgements
                .row.align-items-center.mt-3
                    .col-sm-10.offset-sm-1
                        p This game is the result of many hours of design, development, and testing.  Thank you to everyone involved!
                    
                .row.align-items-center.mt-1
                    .col-sm-8.offset-sm-2
                        h4 Game Design by JD Reese
                
                .row.align-items-center.mt-1
                    .col-sm-8.offset-sm-2
                        h4 Puzzle Design by 
                        h5 Adam Feinstein
                        h5 Alex Levine
                        h5 Albert Lin
                        h5 Samantha Mendis
                        h5 JD Reese
                        h5 Gavin Philips
                
                .row.align-items-center.mt-1
                    .col-sm-8.offset-sm-2
                        h4 
                            b Special Thanks
                
                .row.align-items-center.mt-1
                    .col-sm-8.offset-sm-2
                        h6 Kristin Jones, Dan Lozano, Hope King, and everyone who helped test during the trial runs.
                    
                .row.align-items-center.mt-2
                    .col-sm-8.offset-sm-2.mb-3
                        h3
                            b Thank you for playing!
        
    .parallax-window(data-parallax="scroll", data-image-src="/img/space3.jpg", data-position="bottom", data-bleed="10").small