mixin blog_footer()
  footer.page-footer.blog-style
    .container-fluid.text-center.text-md-left
      .row
        .col-md-4.mt-md-0.mt-3
          h3 About
        .col-md-4.mt-md-0.mt-3
          h3 Links
    .footer-copyright.text-center.py-3 © 2019 Copyright BBG Enterprises
