mixin navbar_sticky_light(active_page)
  nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.pl-12
    .navbar-brand
      a(href="/")
        img.navbar-logo(src="/img/gun_logo.png")
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar-content", aria-controls="navbar-content", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-content
      ul.navbar-nav.mr-auto
        li.nav-item
          if active_page == "home"
            a#nav-link-home.nav-link.active(href="/") Home
          else
            a#nav-link-home.nav-link(href="/") Home
        li.nav-item
          if active_page == "about"
            a#nav-link-about.nav-link(href="/about").active About
          else
            a#nav-link-about.nav-link(href="/about") About
        li.nav-item.mr-3
          if active_page == "laser"
            a#nav-link-laser.nav-link(href="/laser").active Space Laser Management
          else
            a#nav-link-laser.nav-link(href="/laser") Space Laser Management
        li.nav-item.nav
          if active_page == "leaderboard"
            a#nav-link-leaderboard.nav-link(href="/leaderboard").active Leaderboard
          else
            a#nav-link-leaderboard.nav-link(href="/leaderboard") Leaderboard

mixin navbar_sticky_dark(active_page)
  nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.pl-12
    .navbar-brand
      a(href="/")
        img.navbar-logo(src="/img/gun_logo.png").invert
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar-content", aria-controls="navbar-content", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-content
      ul.navbar-nav.mr-auto
        li.nav-item
          if active_page == "home"
            a#nav-link-home.nav-link.active(href="/") Home
          else
            a#nav-link-home.nav-link(href="/") Home
        li.nav-item
          if active_page == "about"
            a#nav-link-about.nav-link(href="/about").active About
          else
            a#nav-link-about.nav-link(href="/about") About
        li.nav-item.mr-3
          if active_page == "laser"
            a#nav-link-laser.nav-link(href="/laser").active Space Laser Management
          else
            a#nav-link-laser.nav-link(href="/laser") Space Laser Management
        li.nav-item.nav
          a#nav-link-leaderboard.nav-link(href="/leaderboard") Leaderboard


mixin navbar_sticky_light_gameover(active_page)
  nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light.pl-12
    .navbar-brand
      a(href="/")
        img.navbar-logo(src="/img/gun_logo.png")
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbar-content", aria-controls="navbar-content", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-content
      ul.navbar-nav.mr-auto
        li.nav-item
          if active_page == "prize"
            a#nav-link-home.nav-link.active(href="/winner") Prize Page
          else
            a#nav-link-home.nav-link(href="/winner") Prize Page
        li.nav-item.nav
          if active_page == "leaderboard"
            a#nav-link-leaderboard.nav-link(href="/leaderboard").active Leaderboard
          else
            a#nav-link-leaderboard.nav-link(href="/leaderboard") Leaderboard