mixin blog_header()
  .container
    .row.align-items-center
      .col-md-6.col-center.text-center.align-middle
        .blog_header.align-middle
          h1 Bursting at the Schemes
          h2 A blog about humanity, culture, and space lasers.
